.dash-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.dash-container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    font-size: calc(80% + 0.5vmin);
}

/* section-banner */
.dash-sec-banner {
    background-color: #fff;
    width: 100%;
    border-radius:calc(1% + 1%);
    ;
}

.dash-sec-banner-layout {
    padding: calc(1% + 1%);
}

/* section menu */
.dash-sec-menu {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 2%; */
}

.dash-menu-icons {
    width: 100%;
    max-width: 40px;
    border: 1px solid #eeeeee;
    padding: 5px;
    border-radius: 15px;
}

.lay {
    display: flex;
    width: 100%;
    padding: calc(1% + 1%);
    justify-content: space-around;
    align-items: center;
}

.dash-sec-menu-layout {
    display: flex;
    flex-direction: column;
    font-size: calc(70% + 0.5vmin);
    align-items: center;
    cursor: pointer;
    transition: margin-top 0.3s ease;
    text-decoration: none;
    color: black;
    text-align: center;

}

.menu1,
.menu2,
.menu3,
.menu4 {
    margin-top: 0px;
}

.menu1:hover,
.menu2:hover,
.menu3:hover,
.menu4:hover {
    margin-top: -10px;
}

/* section flash-sale */
.dash-sec-flash-sale {
    flex-direction: column;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.dash-sec-flash-sale-layout {
    padding: 0 calc(1% + 1%) calc(1% + 1%) calc(1% + 1%);
}

.dash-sec-head-flash {
    display: flex;
    justify-content: space-between;
}

.link-see-all {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    color: #ff822d;
}

.dash-sec-product-flash {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}


.flash-link-to-product {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 300px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */

    transition: box-shadow 0.3s ease-in-out;
}

.flash-link-to-product:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: -1px;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 150px;
    object-fit: cover;
}

.thumbnail-description {
    padding: 10px;
}