.dash-container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.dash-sec {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* section menu */
.dash-sec-menu {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    justify-content: space-around;
}

.dash-menu-icons {
    width: 40px;
    border: 1px solid #eeeeee;
    padding: 5px;
    border-radius: 15px;
}

.dash-sec-menu-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-top: 0px;
    transition: margin-top 0.3s ease;
    text-decoration: none;
    color: black;
}

.menu1:hover,
.menu2:hover,
.menu3:hover {
    margin-top: -10px;
}



/* section flash-sale */
.flash-sale {
    flex-direction: column;
}

.dash-sec-head-flash {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-flash {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.link-see-all {
    display: flex;

    gap: 0.5rem;
    text-decoration: none;
    color: #ff822d;
}

.dash-sec-product-flash {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}



.flash-link-to-product {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 300px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #eeeeee;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); */

    transition: box-shadow 0.3s ease-in-out;
}

.flash-link-to-product:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    margin-top: -1px;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 150px;
    object-fit: cover;
}

.thumbnail-description {
    padding: 10px;
}