@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&family=Montserrat:wght@300&family=Noto+Sans+Thai:wght@300&family=Work+Sans:wght@300&display=swap');

* {
    font-family: 'Mitr', sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}