.back-button-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.back-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.back-icon {
    margin-right: 5px;
    margin-top: -3px;
}

.back-text {
    font-size: 16px;
}