.modalLang {
    position: relative;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 15rem;
    height: auto;
    z-index: 1000;
    overflow: hidden;
}

.button-change-lang {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    gap: 0.5rem;
    font-size: calc(60% + 0.8vmin);
}

.change-lang-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-menu-lang.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.3s ease-in;
}

.dropdown-menu-lang.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.3s ease-out;

}

.button-change-lang {
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}


/* .dropdown-menu-lang.activeLang {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.01s ease-in;
}

.dropdown-menu-lang.inactiveLang {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.01s ease-out;
} */


.button-lang {
    display: flex;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 10px 0;
    cursor: pointer;

}


.list-dropdown-button {
    padding-left: 10%;

}

.icon-flag {
    width: 20px;
}

.selectedLang {
    color: #2270E2;
}