.navbar-component {
	display: flex;
	width: 100%;
	height: 90px;
	min-height: 90px;
	position: relative;
	background-color: #fff;
	box-shadow: 10px 10px 20px #0000001a;
	z-index: 1000;
}

.nav-logo {
	font-size: 1.25rem;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 0 2rem;
}

.nav-sec-1 {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	height: auto;
}

.navbar-menu {
	display: flex;
	width: auto;
	margin: auto;
	list-style: none;
	gap: 2rem;
	text-decoration: none;
	padding-left: 0.5rem;
}

.hide {
	visibility: hidden;
	display: hidden;
}

.each-menu {
	color: black;
	text-decoration: none;
	/* font-size: calc(16px + 0.5vw); */
}

.each-menu:hover {
	color: #2270e2;
	transition: ease-out 0.3s;
}

.navbar-dropdown {
	width: auto;
}

.link-login {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: 1.25rem;
	height: 40px;
	color: aliceblue;
	background-color: black;
}

.nav-right {
	display: flex;
}

.menu-icon {
	display: none;
	font-size: 1.5rem;
	background: none;
	border: none;
	color: #000;
	cursor: pointer;
}

.nav-reveal {
	display: block;
}

.nav-hide {
	display: none;
}

.nav-menu-home {
	display: none;
}

@media only screen and (max-width: 767px) {
	.nav-sec-1 {
		display: flex;
		flex-direction: column;
		position: absolute;
		height: auto;
		width: 100%;
		background-color: #fff;
		border-radius: 5px;
		transform: translateY(-200%);
		z-index: -1;
		left: 0;
		right: 0;
		top: 61px;
		padding: 20px 0;
		/* box-shadow: 10px 10px 20px #0000001a; */
	}

	.each-menu {
	}

	.nav-sec-1.nav-slide {
		transform: translateY(20%);
		transition: transform 0.3s ease-out;
		z-index: -1;
	}

	.menu-icon {
		display: block;
		padding: 0 20px;
		cursor: pointer;
	}

	/* .nav-logo {
        display: none;
    } */

	.nav-logo {
		display: none;
	}

	.nav-reveal {
		display: block;
	}

	.nav-hide {
		display: none;
	}
}
