.profile-sec-ops {
    height: 100%;
    max-width: 12.5rem;
    max-height: 18.75rem;
    width: 100%;
    border-radius: 1.25rem;
    box-shadow: 0px 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    margin: 1rem;
    background-color: #fff;
}

.profile-option {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
    transition: 3s ease-in-out;
}

.profile-line {
    width: 70%;
    color: #ccc;
}

.profile-each-option {
    display: flex;
    margin-left: 15%;
    text-decoration: none;
    color: black;
}

.profile-each-option:hover {
    opacity: 0.5;
    transition: 0.5s ease-in-out;
}

.selected {
    color: #2270E2;
}