.profile-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile-layout {
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin: 80px auto;
}

.profile-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 31.25rem;
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;

}

.profile-head {
    position: absolute;
    display: flex;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: -8%;
    /* transform: translateY(-50%); */
    height: 100%;


}

.profile-sec-header {
    display: flex;
    position: relative;
    max-height: 80px;
    height: 100%;
}

.profile-head-line {
    display: block;
    border: 0;
    border-top: 1px solid #eeeeef;
    padding: 0;
    margin: 0 -20px;
}

.hide-element {
    visibility: hidden;
}

.edit-profile-sec-layout {
    display: flex;
    margin-top: 4%;
    transform: translateY(-1%);
    flex-direction: column;
}

.edit-profile-sec {
    display: flex;
    height: 100%;
    padding: 0 80px 0 80px;

}

.edit-profile-sec-content-left {
    flex: 1;
    display: flex;
    margin: auto;
    justify-content: center;
}

.upload-photo-layer {
    margin: auto -20px;
}

.edit-profile-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-style: dashed;
}

#upload-photo {
    display: none;
}

.edit-profile-sec-content-right {
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 1rem;
}

.edit-profile-input {
    width: 100%;
    max-width: 200px;
    height: 30px;
    border-radius: 10px;
    padding-left: 15px;
}

.edit-profile-name {
    display: flex;
    gap: 1rem;
}

.edit-profile-input-date {
    display: flex;
    gap: 1rem;
}


.edit-profile-button-layout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit-profile-button {
    width: 100%;

    height: 40px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: #fff;
    cursor: pointer;
}


@media only screen and (max-width: 767px) {

    .profile-layout {
        margin: 60px auto;

    }

    .profile-content {
        padding: 20px;


    }


    .edit-profile-sec {
        display: flex;
        flex-direction: column;
    }

    .edit-profile-sec-content-left {
        margin-top: 2rem;
    }

    .edit-profile-button {
        width: 100%;
        max-width: 140px;
        height: 40px;
        border-radius: 10px;
    }

}